
@font-face 

{  font-family: OpenSans-Light ; 
    src: url('fonts/OpenSans-Light.ttf') 
    }

@font-face {
    font-family: OpenSans-Bold ; 
    src: url('fonts/OpenSans-Bold.ttf')
}    
    
div.background {
    background-color: white;
}

div.navigationActus {
    margin-right: -6px;
    background-color: black;
    color: white;
    font-family: 'OpenSans-Light' ;
    margin-left: -6px;
}

#maison {
    color: gray;
    padding-right: 11px;
}

#maison2 {
    margin-left: 11px;
    cursor: pointer;
}
#toutemaison {
    padding-bottom: 3px;
    padding-top: 3px;
}

img.hautx2 {
    height: auto ;
    max-width: 100%;
    border: 2px solid black 
}

div.body {
    text-align: center;
    font-family: 'OpenSans-Light';
}

h1{
    text-align: center;
    font-family: 'OpenSans-Bold';
    font-weight: 500;
}

p {
    font-family: 'OpenSans-Light';
    text-align: center;
}

img.haut1 {
    width: 370px;
}
     
div.responsive {
    display: none;
    background-color: black;
    color: green;
    font-size: 16px;
}

body.Acceuil {
    background-color: black;
    line-height: 30px;
}

div.footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'OpenSans-Light';
}

a.responsivea {
    font-family: 'OpenSans-Light';
    text-decoration: none;
}

img.haut {
    width: 45px;
    height: 45px;
}

    a:hover {
        color: gray
    }

    a {
        color: green;
        font-size: 16px;
    }

    a.navigation2 {
        position: absolute;
        right: 185px;
        top: 150px;
        text-decoration: none;
        font-size: 18px;
    }

    a.navigation3 {
        position: absolute;
        right: 50px;
        top: 150px;
        text-decoration: none;
        font-size: 18px;
}
    div.navigation {
        background-color: black;
        color: white;
        font-family: 'OpenSans-Light' ;
    }       
    
h1 , h2 , div.footer {
    text-transform: uppercase;
}

div.haut3 {
    text-align: center;
}

p {
    font-size: 18px;
}

div.footer2 {
    border-top: 2px solid black ;
    text-align: center;
}

#responsive2 {
    display:none
}

#responsive3 {
    position: absolute;
    right: 20px;
    top: 130px;
    font-size: 16px;
    cursor: pointer;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 856px) {
    a.navigation2 {
        position: absolute;
        right: 51px;
        top: 120px;
        text-decoration: none;
        font-size: 16px;
    } 

    a.navigation3 {
        position: absolute;
        right: 5px;
        top: 140px;
        text-decoration: none;
        font-size: 16px;
    }

    img.haut1 {
        text-align: center;
    }

    div.navigation {
        display: none;
    }

    div.responsive {
        display: block;
    }

    img.haut1 {
        width: 200px;
    }

}
